/* screen size 768px */

@media only screen and (max-width: 768px) {
  header .navbar-brand {
    padding-left: 1rem;
  }

  header .navbar-toggler {
    display: none;  
  }

  .section-1 .row .col-md-6 .panel {
    position: initial;
    width: initial;
    height: initial;
  }

  .section-2 .cover {
    background-position: -25vmin -10vmin;
  }

  .numbers .rect {
    width: 10rem;
    height: 8rem;
  }

  .numbers .rect h1 {
    font-size: 2rem;
  }

  .section-3 {
    height: inherit;
    padding: 10vmin !important;
  }

  .section-4 .carousel-item {
    padding-left: 0.6rem;
  }

  footer .row .col-md-2 {
    margin-top: 8vmin;
  }

  #btmNav {
    display: block;
  }

}

/* screen size 375px */

@media only screen and (max-width: 375px) {
  .section-4 .card {
    width: 18em;
  }
}

@media only screen and (max-width: 320px) {
  .section-4 .carousel-inner {
    margin-left: -4vmin;
  }
}

/* screen size 991px */

@media only screen and (max-width: 991px) {
  header .nav-item:last-child {
    padding-right: 0em;
  }
}