/** Screen Size 1098px Patch **/

@media only screen and (max-width: 1098px) {
  .section-4 .card {
    width: auto;
  }

  footer .container-fluid .row {
    justify-content: unset !important;
  }
}

/** screen size 991px **/

@media only screen and (max-width: 991px) {
  header .nav-item:last-child {
    padding-right: 0em;
  }
}

/** Screen size 950px **/

@media (max-width: 950px) {
  .section-5 .container {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .container .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}

/** screen size 820px **/

@media (max-width: 820px) {
  .section-5 .container {
    margin: 40px 0;
    height: 100%;
  }
  .section-5 .container .content {
    flex-direction: column-reverse;
  }
  .container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    align-content: center;
    flex-wrap: wrap;
  }
  .container .content .left-side::before {
    display: none;
  }
  .container .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}

/** Screen size 768px **/

@media only screen and (max-width: 768px) {
  header .navbar-brand {
    padding-left: 1rem;
  }

  header .navbar-toggler {
    display: none;
  }

  .home .row .col-md-5 {
    display: none;
  }

  .section-1 {
    padding: 8vmin 0vmin;
  }

  .section-1 .container {
    max-width: none;
  }

  .section-1 .row .col-md-6 .pray img {
    display: none;
  }

  .section-1 .row .col-md-6 .panel {
    position: initial;
    width: initial;
    height: initial;
  }

  .section-2 .cover {
    background-position: -25vmin -10vmin;
  }

  .numbers .rect {
    width: 10rem;
    height: 8rem;
  }

  .numbers .rect h1 {
    font-size: 2rem;
  }

  .section-3 {
    height: inherit;
    padding: 10vmin !important;
  }

  .section-3 .row h1 {
    font-weight: 600 !important;
  }

  .section-3 .row h1,
  p {
    font-family: "Poppins", sans-serif !important;
  }

  .section-3 .service-text-1,
  .service-img-2,
  .service-text-3 {
    padding-top: 5vmin;
  }

  .section-4 .carousel-item {
    padding-left: 0.6rem;
  }

  #btmNav {
    display: block;
  }

  .top {
    visibility: hidden !important;
  }

  footer .ft-cright,
  .ft-flw,
  .ft-power {
    padding-top: 2vmin;
    padding-bottom: 2vmin;
  }

  .ft-cright {
    margin-bottom: 70px !important;
  }
}

/** Screen size 755px **/

@media only screen and (max-width: 755px) {
  .cover .content p {
    display: none;
  }
}

@media only screen and (max-width: 568px) {
  .cover .content h1 {
    font-size: 2em;
  }
}

/** screen size 375px **/

@media only screen and (max-width: 375px) {
  .section-4 .card {
    width: 18em;
  }

  .ft-power div {
    display: block !important;
  }
}

/** screen size 320px **/

@media only screen and (max-width: 320px) {
  .section-4 .carousel-inner {
    margin-left: -4vmin;
  }
}
