html,
body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.btn:focus {
  box-shadow: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

* {
  font-family: var(--Montserrat) !important;
  box-sizing: border-box;
}

header,
section {
  overflow-x: hidden;
}

:root {
  --Montserrat: "Montserrat";
  --bggradient: linear-gradient(to bottom, rgba(0, 97, 242, 1) 0%, rgba(105, 0, 199, 1) 100%);
  --bggradient-reverse: linear-gradient(to bottom, rgba(105, 0, 199, 1) 0%, rgba(0, 97, 242, 1) 100%);
  --light-black: #2e2c2caf;
  --light-gray: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(rgba(105, 0, 199, 1) 0%, rgba(0, 97, 242, 1) 100%);
  border-radius: 0.50rem;
  margin-block: .5em;
  border: 0.25rem solid #fff;
}

header a {
  font-family: var(--Sniglet-font);
  font-size: 0.9em;
  color: white;
  border-radius: 0.75rem;
  border: none;
}

header .nav-link:hover {
  background-color: #ffffff;
  color: black !important;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 8rem;
}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
  color: white;
}

header .row .col-md-5 {
  padding: 14vmin 1vmin;
}

header .row .col-md-5 img {
  width: 90%;
}

header {
  background: rgba(0, 97, 242, 1);
  /* fallback for old browsers */
  background: var(--bggradient);
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
}

.primary-btn {
  border-radius: 30px;
  font-weight: bold;
}

/****** Section 1 - About ******/

.section-1 {
  padding: 20vmin 0vmin;
}

.section-1 .row .col-md-6 .pray img {
  opacity: 0.8;
  width: 80%;
  border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
  position: relative;
}

.section-1 .row .col-md-6 .panel {
  position: absolute;
  top: 7vmin;
  left: -18vmin;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 13vmin 5vmin 20vmin 10vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  font-family: var(--Rubik);
  z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.5);
}

/****** Section 2 - Statistics ******/

.cover {
  width: 100%;
  height: 55vmin;
  background: url("../img/pexels-photo-452738.jpeg");
  background-position: -24rem -19rem;
  background-size: 150%;
  position: relative;
}

.cover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.cover .content {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 19vmin;
}

.cover .content>h1 {
  font-family: var(--Patua);
  font-size: 6vmin;
  color: whitesmoke;
}

.cover .content>p {
  font-family: var(--Rubik);
  font-size: 2vmin;
  color: #e5e5e5;
}

.numbers .rect {
  position: relative;
  z-index: 1;
  background: white;
  width: 17rem;
  height: 12rem;
  padding-top: 3.5vmin;
  margin: 1rem;
  border-radius: 0.5em;
  box-shadow: 1px 2px 50px 0px rgba(204, 0, 255, 0.349);
}

.numbers {
  margin-top: -15vmin;
}

.numbers .rect h1 {
  font-size: 5rem;
  color: rgb(136, 0, 255);
}

.numbers .rect>p {
  font-family: var(--Patua);
}

/****** Section 3 - Services ******/

.section-3 {
  background: var(--bggradient-reverse);
}

.section-3 .content {
  width: 100%;
  height: 100%;
  padding-top: 19vmin;
}

.section-3 .content>h1 {
  font-family: var(--Patua);
  font-size: 6vmin;
  color: white;
}

.section-3 .content>p {
  font-family: var(--Rubik);
  font-size: 2vmin;
  color: white;
}

/****** Section 4 - Pricing ******/

.purchase>h1 {
  padding-top: 15vmin;
  padding-bottom: 0.1em;
  font-family: var(--Lobster);
}

.purchase>p {
  color: var(--light-black);
  font-size: 3vmin;
  padding-bottom: 10vmin;
}

.purchase .cards .card {
  width: 22rem;
  margin: 3vmin 3vmin;
}

.cards div {
  padding: 0;
  margin: 0;
}

.cards .title {
  background: rgba(35, 59, 136, 0.199);
  padding: 1.4em 2.5em;
  font-size: 2vmin;
}

.card .card-text {
  padding: 2.5rem 3rem;
  color: var(--light-black);
}

.card-body .pricing {
  background: rgba(157, 175, 235, 0.199);
  border-top-right-radius: 170px;
  border-top-left-radius: 170px;
}

.card-body .pricing>h1 {
  font-size: 10vmin;
  padding: 1em 0.5em;
}

/****** Section 4 - Reviews ******/

.section-5 .container h1 {
  font-size: 6vmin;
  padding-top: 14vmin;
}

.section-5 .container p {
  font-size: 2.5vmin;
}

.section-5 .team {
  padding: 10vmin 4vmin;
}

.section-5 .card {
  width: 22em;
  margin-top: 10vmin;
}

.section-5 .card .card-text {
  padding: 0.5em;
}

.section-5 .card-body>a {
  font-size: 1.5em;
}

.section-5 .carousel-item {
  padding-left: 3rem;
}

.border-radius {
  border-radius: 340px;
  width: 60%;
}

/****** Footer ******/

footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p>span {
  color: rgba(0, 97, 242, 1);
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color: rgba(0, 97, 242, 1);
}

/****** Top Button ******/

#topBtn {
  position: fixed;
  bottom: 20px;
  z-index: 99;
  right: 20px;
  text-align: center;
  vertical-align: middle;
  border: 2px solid transparent;
  border-color: #fff;
  border-radius: 0.50rem;
  padding: 0.375rem 0.75rem;
  font-size: 18px;
  background: linear-gradient(135deg, rgba(105, 0, 199, 1) 0%, rgba(0, 97, 242, 1) 100%);
  color: #fff;
  cursor: pointer;
  margin: 5px;
}

#topBtn span:after {
  content: "Top";
}

.animation {
  transition: 0.3s;
}

.animation span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.animation span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.animation:hover span {
  padding-right: 40px;
}

.animation:hover span:after {
  opacity: 1;
  right: 0;
}

.top {
  visibility: hidden;
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}

.active {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* NavBar + Java */

footer .column i+i {
  padding: 0 0.5em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 9999;
  transition: all 600ms ease-in-out;
}